<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <form action="/cars" method="post">
        <label for="car-make">What is the make of your car?</label>
        <input id="car-make" name="car-make" type="text">
        <label for="car-price">What is the price of your car?</label>
        <input id="car-price" name="car-price" type="text">
        <label for="car-year">What is the year of the car?</label>
        <input id="car-year" name="car-year" type="text">
        <label for="car-pic">Please provide an image URL of your car.</label>
        <input id="car-pic" name="car-pic" type="text">
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
